@font-face {
    font-family: 'TTCommonsDemiBold';
    src: url('TT Commons DemiBold.otf') format('opentype');
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    padding: 10px 15%;
    box-sizing: border-box;
    width: 100%;
}
.logo-container img {
    width: 120px; /* Adjust size as needed */
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust space between items */
}

nav ul li a {
    text-decoration: none;
    color: black; 
    font-size: 1.2em;
    font-family: 'TTCommonsDemiBold';
    font-weight: bold;
}